.rightbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;

  width: 100%;
  height: 100%;
}

.leftbox {
  padding-left: 2.5%;
}


.glass-left {
  @include backgrounds;

  border-radius: 61px 0 0 61px;

  margin-left: 2.5%;
}

.rotate {
  @include rotateicon;
}

.glass-right {
  @include backgrounds;

  border-radius: 0 61px 61px 0;

  margin-right: 2.5%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 5.6%;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  color: white;

  margin-bottom: 1.4em;
}

.menu-option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.688rem;
  line-height: 0.813rem;

  color: #FFFFFF;

  background: $cinza;
  border-radius: $radius1;

  width: 4.25vw;
  height: 2.5vh;
}

.menu-cars {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: absolute;
  height: 70%;

  direction: rtl;
}


.menu-option-car {
  background: $cinza;
  border-radius: $radius1;
  width: 15vw;
  height: 7.2vh;

  margin-bottom: 7.5%;
}