.container-bennys {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  left: 43%;
  transform: translate(-50%);

  .custom-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 1.5%;

    width: 15vw;
    height: 10vh;

    background: linear-gradient(111.68deg, rgba(255, 255, 255, 0.29) 7.59%, rgba(255, 255, 255, 0.39) 102.04%);
    border: 3px solid rgba(255, 255, 255, 0.28);
    box-sizing: border-box;
    backdrop-filter: blur(22px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 36px;
    img {
      color: white;
    width: 65px;
  }
  }
  ul {
    display: flex;
    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

.espaco {
  margin-right: 1%;
}

.boxes {
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    margin-top: 1em;
    margin-left: 1em;

    width: 5.5vw;
    height: 30%;

    background: linear-gradient(111.68deg, rgba(255, 255, 255, 0) 7.59%, rgba(255, 255, 255, 0) 102.04%);
    border: 3px solid rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(22px);

    border-radius: 36px;
    .slider__image {
      width: 4vw;
      height: 6vh;
    }
    .price {
      display: flex;
      align-items: center;
      flex-direction: row;

      color: #B1FFD5;
    }
  }
}



.next {
  img {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;

    position: absolute;
    top: 92.5%;
    left: 100%;
    transform: translate(-50%, 0%);
  }
}