.container-bennys {
  display: flex;
  align-items: flex-end;
  padding-left: 10px;


  position: relative;
  .glass-right {
    display: flex;
    margin-right: 0.7%;
  }

  .custom-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 9.5vw;
    height: 10vh;

    background: linear-gradient(111.68deg, rgba(255, 255, 255, 0.29) 7.59%, rgba(255, 255, 255, 0.39) 102.04%);
    border: 3px solid rgba(255, 255, 255, 0.28);

    border-radius: 36px;

    img {
      color: white;
      width: 65px;
    }

  }
}

.slideshow-container {
  max-width: 90%;
  display: flex;
  svg {
    fill: white;
  }

  #customization {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
  }

  #performance {
    display: none;
    flex-wrap: wrap-reverse;
    flex-direction: row;
  }

  #appearance {
    display: none;
    flex-wrap: wrap-reverse;
    flex-direction: row;
  }

  #wheels {
    display: none;
    flex-wrap: wrap-reverse;
    flex-direction: row;
  }
}


#section-Aparência {
  display: flex;
  flex-direction: row;
}

.espaco {
  margin-right: 1%;
}

.boxes {
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    margin-top: 1em;
    margin-left: 1em;

    width: 5.5vw;
    height: 30%;

    background: linear-gradient(111.68deg, rgba(255, 255, 255, 0) 7.59%, rgba(255, 255, 255, 0) 102.04%);
    border: 3px solid rgba(255, 255, 255, 0.28);
    border-radius: 36px;

    .slider__image {
      width: 4vw;
      height: 6vh;
    }

    .price {
      display: flex;
      align-items: center;
      flex-direction: row;

      color: #B1FFD5;
    }
  }
}


.next {
  img {
    position: relative;
    top: 80%;
  }
}