.search {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.688rem;
  line-height: 0.813rem;

  background: $cinza;
  border-radius: $radius1;
  width: 100%;
  height: 2.6vh;
  border: none;
  outline: none;


  color: white;
  margin-bottom: 10%;
}