@charset "UTF-8";
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-size: small;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.space {
  display: flex;
  margin-bottom: 0.45em;
}
.space h1 {
  margin-left: 0.2em;
}
.space h2 {
  margin-left: 0.2em;
}

.interno-g {
  height: 100%;
  width: 100%;
  padding: 10px;
}
.interno-g .menu-option-car {
  position: relative;
}

.container-garagem {
  position: absolute;
  border-radius: 61px;
  width: 65vw;
  height: 75vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(111.68deg, rgba(255, 255, 255, 0.29) 7.59%, rgba(255, 255, 255, 0.39) 102.04%);
  border: 3px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
.container-garagem .car-image {
  position: relative;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-garagem .car-image img {
  height: 35vh;
  width: 35vw;
}
.container-garagem .scroll-g {
  display: block;
  height: 80%;
  width: 16vw;
}
.container-garagem .g-info {
  position: absolute;
  top: 25%;
  left: 77%;
  transform: translate(-20%, -50%);
  width: 20%;
}
.container-garagem .g-exit {
  position: relative;
  top: 0;
  left: 15%;
  transform: translate(0%, -50%);
}
.container-garagem .final {
  position: relative;
  top: 37.5%;
  left: 77%;
  transform: translate(-12.5%, -85%);
  width: 25%;
}
.container-garagem .final button {
  font-size: 2rem;
}

.container-bennys {
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  position: relative;
}
.container-bennys .glass-right {
  display: flex;
  margin-right: 0.7%;
}
.container-bennys .glass-right small {
  display: flex;
}
.container-bennys .custom-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  margin-top: 1vh;
  width: 9.5vw;
  height: 10vh;
  background: linear-gradient(111.68deg, rgba(255, 255, 255, 0.29) 7.59%, rgba(255, 255, 255, 0.39) 102.04%);
  border: 3px solid rgba(255, 255, 255, 0.28);
  border-radius: 36px;
}
.container-bennys .custom-option img {
  color: white;
  width: 65px;
}

.slideshow-container {
  max-width: 90%;
  display: flex;
}
.slideshow-container svg {
  fill: white;
}
.slideshow-container #customization {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}
.slideshow-container #performance {
  display: none;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}
.slideshow-container #appearance {
  display: none;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}
.slideshow-container #wheels {
  display: none;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

#section-Aparência {
  display: flex;
  flex-direction: row;
}

.espaco {
  margin-right: 1%;
}

.boxes .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  width: 5.5vw;
  height: 30%;
  background: linear-gradient(111.68deg, rgba(255, 255, 255, 0) 7.59%, rgba(255, 255, 255, 0) 102.04%);
  border: 3px solid rgba(255, 255, 255, 0.28);
  border-radius: 36px;
}
.boxes .box input {
  width: 100%;
  height: 8vh;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.boxes .box span {
  word-break: break-all;
}
.boxes .box .slider__image {
  width: 4vw;
  height: 6vh;
}
.boxes .box .input-color {
  border-radius: 360%;
}
.boxes .box .price {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #B1FFD5;
}

.next img {
  position: relative;
  top: 80%;
}

.rightbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100%;
}

.leftbox {
  padding-left: 2.5%;
}

.glass-left {
  background: linear-gradient(111.68deg, rgba(255, 255, 255, 0.29) 7.59%, rgba(255, 255, 255, 0.39) 102.04%);
  border: 3px solid rgba(255, 255, 255, 0.33);
  margin-top: 2%;
  height: 90vh;
  width: 17vw;
  border-radius: 61px 0 0 61px;
  margin-left: 2.5%;
}

.rotate {
  display: flex;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-92%, -50%);
}

.glass-right {
  background: linear-gradient(111.68deg, rgba(255, 255, 255, 0.29) 7.59%, rgba(255, 255, 255, 0.39) 102.04%);
  border: 3px solid rgba(255, 255, 255, 0.33);
  margin-top: 2%;
  height: 90vh;
  width: 17vw;
  border-radius: 0 61px 61px 0;
  margin-right: 2.5%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5.6%;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  margin-bottom: 1.4em;
}

.menu-option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.688rem;
  line-height: 0.813rem;
  color: #FFFFFF;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 2em;
  width: 4.25vw;
  height: 2.5vh;
}

.menu-cars {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 70%;
  direction: rtl;
}

.menu-option-car {
  background: rgba(196, 196, 196, 0.5);
  border-radius: 2em;
  width: 15vw;
  height: 7.2vh;
  margin-bottom: 7.5%;
}

.search {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.688rem;
  line-height: 0.813rem;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 2em;
  width: 100%;
  height: 2.6vh;
  border: none;
  outline: none;
  color: white;
  margin-bottom: 10%;
}

#myInput {
  background-image: url("../../assets/search_24px.svg");
  background-position: 10px 5px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.saida {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 5vh;
  width: 14vw;
}

.exit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  margin-left: 80%;
  width: 39px;
  height: 35px;
  background: linear-gradient(111.68deg, rgba(255, 255, 255, 0.29) 7.59%, rgba(255, 255, 255, 0.39) 102.04%);
  border: 3px solid rgba(255, 255, 255, 0.28);
  border-radius: 61px;
}

.active:hover {
  height: 12vh;
}
.active:hover .icon-status {
  visibility: hidden;
}
.active:hover .typecar {
  visibility: hidden;
}
.active:hover .car-object {
  visibility: visible;
}
.active:hover .price {
  visibility: visible;
}

.menu-option-car .icon-status {
  visibility: visible;
}
.menu-option-car .car-object {
  visibility: hidden;
}
.menu-option-car .price {
  visibility: hidden;
}

.align {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 8vh;
}

.menu-option-car {
  position: relative;
  align-items: flex-start;
  width: 15vw;
}
.menu-option-car .light-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.563rem;
  line-height: 0.688rem;
  color: #FFFFFF;
}
.menu-option-car .light-text .luz {
  display: flex;
  align-items: flex-end;
}
.menu-option-car .light-text .light {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border-radius: 20px;
}
.menu-option-car .light-text .green {
  background-color: #7DFFB9;
}
.menu-option-car .light-text .red {
  background-color: #c22020;
}
.menu-option-car .light-text .typecar {
  display: flex;
  justify-content: flex-end;
}
.menu-option-car .car-object {
  position: relative;
  top: 30%;
  left: 45%;
  transform: translate(-92%, -50%);
  height: 7.5vh;
  width: 8.5vw;
}
.menu-option-car .icon {
  margin-left: 15px;
  margin-right: 10px;
}
.menu-option-car .typecar {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}
.menu-option-car .menu-option-car .statusblock {
  height: 100%;
  width: 100%;
}
.menu-option-car .icon-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-option-car .icon-status:hover {
  visibility: hidden;
}
.menu-option-car .price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 10%;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #7DFFB9;
}

.warning {
  flex-direction: column;
  margin-bottom: 1.2em;
}
.warning .title {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.warning p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.063rem;
  text-overflow: Ellipsis;
  /* Required for text-overflow to do anything */
  white-space: wrap;
  overflow: hidden;
}

.buy-car {
  color: white;
  border: none;
  outline: none;
  width: 90%;
  height: 7vh;
  background: rgba(117, 227, 161, 0.56);
  border-radius: 20px;
}
.buy-car h1 {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.7rem;
  line-height: 3.063rem;
}

.final {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker-panel {
  width: 95%;
  height: 20vh;
  border-radius: 8px;
  margin-bottom: 20%;
}
.colorpicker {
  display: flex;
  flex-direction: row;
  direction: rtl;
}

.panel-row {
  position: relative;
  margin: 0 10px 10px;
}

.panel-row:first-child {
  margin-top: 10px;
  margin-bottom: 6px;
}

.panel-row:after {
  content: "";
  display: table;
  clear: both;
}

.hue_bar {
  background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  width: 8px;
  height: 18.5vh;
  border-radius: 20em;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hue_bar .hue_picker {
  position: absolute;
  left: 50%;
  border-radius: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  border: 2px solid white;
  /*pointer-events: none;*/
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  background: red;
}

.hue_bar .hue_picker.active {
  width: 18px;
  height: 18px;
}

.sat_rect {
  width: 11vw;
  height: 18.5vh;
  display: inline-block;
  background: red;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sat_rect .sat_picker {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  top: 0;
  left: 100%;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 10;
  -webkit-transition: width 0.25s, height 0.25s;
  transition: width 0.25s, height 0.25s;
  background: red;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.sat_rect .sat_picker.active {
  width: 16px;
  height: 16px;
}

.sat_rect .black,
.sat_rect .white {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sat_rect .white {
  background: -webkit-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
}

.sat_rect .black {
  background: -webkit-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
}

.info {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  justify-content: space-between;
}
.category .engine {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #FFFFFF;
}
.category .number {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #7DFFB9;
}

.progress {
  width: 60%;
  height: 1.5vh;
}

.progress-wrap {
  background: rgba(196, 196, 196, 0.45);
  border-radius: 22px;
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.progress-wrap .progress-bar {
  background: #5cfda6;
  border-radius: 22px;
  left: 0;
  position: absolute;
  top: 0;
}

.scroll {
  display: block;
  z-index: 9999;
  height: 75%;
  width: 95%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
  border-radius: 13px;
}

.scroll::-webkit-scrollbar-track {
  background: rgba(196, 196, 196, 0.5);
  /* color of the tracking area */
  border-radius: 13px;
}

.scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  /* color of the scroll thumb */
  border-radius: 13px;
  /* roundness of the scroll thumb */
}

.scroll-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: start;
  margin: 0;
  z-index: 9999;
  height: 45%;
  width: 95%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  direction: rtl;
}

.scroll-b::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
  border-radius: 13px;
}

.scroll-b::-webkit-scrollbar-track {
  background: rgba(196, 196, 196, 0.5);
  /* color of the tracking area */
  border-radius: 13px;
}

.scroll-b::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  /* color of the scroll thumb */
  border-radius: 13px;
  /* roundness of the scroll thumb */
}

/*# sourceMappingURL=index.css.map */
